@model PizzaViewModel
<h5>@ViewData["Title"]</h5>
<hr />

<ul>
    <li> Name: @ViewBag.Pizza.Pizza </li>
    <li> Size: @ViewBag.Pizza.PizzaSize </li>
    <li> Price: @ViewBag.Pizza.Price  </li>
</ul>

<partial name="~/Views/Shared/Partials/_PizzaInfo.cshtml" for="@Model" />
<hr />

@if (ViewBag.Pizza.IsOnPromotion)
{
<h4> Pizza is on promotion! </h4>}
<hr />

<partial name="~/Views/Shared/Partials/_PizzaMessage.cshtml" />
