@model List<PizzaViewModel>
@*@{
        ViewData["Title"] = "Index";
    }*@

<h2>@ViewData["Title"]</h2>
<hr />

@foreach (PizzaViewModel pizza in Model)
{
<partial name="~/Views/Shared/Partials/_PizzaInfo.cshtml" for="@pizza" />
                <hr />
              @*<ul>
                                        <li> Name: @pizza.Pizza </li>
                                        <li> Size: @pizza.PizzaSize </li>
                                        <li> Price: @pizza.Price  </li>
                                    </ul>
                                   <hr />*@}
<hr />

<partial name="~/Views/Shared/Partials/_PizzaMessage.cshtml" />
