@model OrderDetailsViewModel
<h2>Order Details</h2>
<div><a asp-action="AddPizza" asp-controller="Order" asp-route-id="@Model.Id">Add Pizza</a></div>

@{ List<PizzaDDViewModel> pizzaDDViewModels = ViewBag.PizzaDD; }

<ul>
    <li>Price: @Model.Price</li>
    <li>Payment Method: @Model.PaymentMethod</li>
    <li>Pizza Store: @Model.PizzaStore</li>
    <li>User: @Model.UserFullName</li>
    <li>
        <ol>

            @foreach (var pizzaName in Model.PizzaNames)
            {
                OrderOfPizzas orderOfPizzas = new OrderOfPizzas
                {
                    OrderId = Model.Id,
                    PizzaId = pizzaDDViewModels.FirstOrDefault(p => p.Name == pizzaName).Id,
                    PizzaName = pizzaName
                };
            }
        </ol>
    </li>
</ul>
